div {
  /* unversal properties */
  width: 400px;
  min-height: 700px;
  background-color: red;
  background-image: url("sysDuo.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  /* position: relative; */

  /* background-image: url("sysDuo.png"); */
  /* background-attachment: fixed; */
  /* opacity: 0.3; */
  /* background-size: 400px 700px; */
  /* background-size:contain; */
  /* background-size: contain; */
}

div:hover {
  background-position: 50% 50%;
  background-repeat: no-repeat;

  /* unversal properties */

  /* background-attachment: fixed; */
  
  /* opacity: 0.3; */
  /* background-size: 100px 200px; */
  /* background-size: cover; */
  /* background-size: contain; */
}